.App {
  height: 100vh;
  display: flex;
}

.App .team-1,
.App .team-2 {
  flex: 1;
  opacity: 0.25;
}

.App .team-1 {
  background: blue;
}

.App .team-2 {
  background: red;
}

.App .buzzed {
  opacity: 1;
}

.App .not-buzzed {
  flex: 0;
}
