.App {
  height: 100vh;
}

.Result {
  height: 100%;
  display: flex;
}

.Result .team-1,
.Result .team-2 {
  flex: 1;
  opacity: 0.5;
  transition: all 0.1s ease-out;
}

.Result .team-1 {
  /* Vidsy blue 💁‍♂️ */
  background: #035496;
}

.Result .team-2 {
  /* Vidsy red 💁‍♀️ */
  background: #ec0640;
}

.Result .buzzed {
  opacity: 1;
}

.Result .not-buzzed {
  flex: 0;
}
